__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

demo/outputs/
demo/inputs/images/*
demo/inputs/videos/*
!demo/inputs/images/.gitkeep
!demo/inputs/videos/.gitkeep

demo/checkpoints/*.pth
demo/checkpoints/*.pt
demo/checkpoints/*.ckpt
!demo/checkpoints/put_checkpoint_here.txt

*.mp4
*.avi
*.mov
*.mkv
*.csv

archive/
